<h1>Car Weather - Android&trade;</h1>

<h2>Tärkeää tietoa tämän sovelluksen käyttämisestä</h2>

<p>Noudata aina autosi ja lämmittimen valmistajan ohjeita
esilämmityksestä! Tämä sovellus antaa ainoastaan ehdotuksia
esilämmittimen käytölle sääennusteen perusteella. Solipaste Oy ei ota
mitään vastuuta mistään tämän sovelluksen näyttämän tiedon käytöstä.</p>

<p><a
href="http://www.solipaste.com/carweather/android/license.html">
Loppukäyttäjän lisenssi</a>.</p>

<p>Copyright Solipaste Oy 2015. Kaikki oikeudet pidätetään.</p>

<p>Android on Google Inc.:n rekisteröimä tavaramerkki. Muut
tuotemerkit voivat olla omistajiensa tavaramerkkejä.</p>

<p>Sovelluksen antaman suositukset esilämmitysajoista pohjautuvat <a
href="http://www.motiva.fi">Motiva Oy</a>:n julkaisemaan tietoon.
</p>

<h2>Yhteystiedot</h2>

<p>Solipaste Oy<br /> Lentokonetehtaankatu 4 A 21<br /> 33900
Tampere<br /> Suomi<br /> <a href="http://www.solipaste.com">www.solipaste.com</a>
</p>

<p>Jos sinulla on kysyttävää tästä sovelluksesta, voit ottaa
yhteyttä meihin osoitteella <a href="mailto:carweather@solipaste.com">carweather@solipaste.com</a>
</p>

<h2>Kolmannen osapuolen tuotteiden lisenssit</h2>

<p>Car Weather käyttää seuraavia kolmannen osapuolen tuotteita.</p>

<h3>Geonames</h3>

<p>Tämän teos teoksen käyttöoikeutta koskee <a rel="license"
href="http://creativecommons.org/licenses/by/3.0/deed.fi">Creative
Commons Nimeä 3.0 Muokkaamaton -lisenssi</a></p>

<h3>opencsv</h3>

<p><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache
2.0 license</a></p>

<h3>yr.no</h3>

<p>Sääennusteet noudetaan palvelusta <a href="http://yr.no">yr.no</a>,
jonka toimittaa Norjan Meterorologinen Instituutti ja NRK.
</p>

<h3>Google Analytics</h3>

<p><a href="http://www.google.com/analytics/terms/fi.html">
GOOGLE ANALYTICSIN PALVELUEHDOT</a></p>

<h3>CommonsWare Android Components: WakefulIntentService</h3>

<p><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache
2.0 license</a></p>

<h3>Androidicons: cloudy icon</h3>

<p><a href="http://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0
    International CC BY-SA 4.0</a></p>