<h2>Näin käytät sovellusta</h2>

<h3>Käyttöönotto</h3>

<p>Car Weatherin käyttö on helppoa. Valitset lähtöaikasi siirtämällä
sinisen lähtöaikaosoittimen haluamaasi kellonajan kohtaan, jonka
sovellus näyttää sekä lähtöajankohdan lämpötilan että optimaalisen
esilämmitysajan ja kertoo milloin lämmitys kannattaa aloittaa.</p>

<p>Kun lämmitystolpassasi on ajastinkello, säätämällä siihen sovelluksen
näyttämän lämmityksen aloitus- tai päättymisajan varmistat, että autosi
on lähtövalmiina silloin kun sitä seuraavan kerran tarvitset.
Päättymisaika näytetään myös tunteina ja minuutteina nykyhetkestä.</p>

<h3>Muistutukset</h3>

<p>Sallimalla sovelluksen asetuksista muistutukset Car Weather
muistuttaa sinua sekä autosi lämmitystarpeesta että lähtöhetkestä
etukäteen joka päivä.</p>

<p>Voit vapaasti valita ajan jolloin sinua muistutetaan
<b>lämmitystarpeesta</b>. Tämä muistutus annetaan vain kun autosi tulee
tarvitsemaan esilämmitystä seuraavalla lähtöhetkellä sääennusteen
perusteella. Säännöllisesti autolla liikkuvan kannattaa pyytää
sovellusta antamaan tämä muistutus silloin kun olet kotimatkalla illalla
töistä tai harrastuksistasi. Näin esilämmitys ei pääse koskaan
unohtumaan ja autosi on varmasti lämmin ja käyttövalmiina seuraavana
aamuna. </p>

<p><b>Lähtömuistutus</b> ilmoittaa kun autosi esilämmitys on valmis.
Voit määritellä kuinka monta minuutta ennen lähtöhetkeä tämä muistutus
annetaan. Lähtömuistutus annetaan vain jos autosi tarvitsi esilämmitystä
kyseisellä lähtökerralla.</p>

<p>Asetuksissa voit myös valita haluatko muistutukset vain silloin, kun
seuraava lähtöhetki osuu arkipäiville vai myös silloin, kun se osuu
viikonloppulle.</p>

<h3>Muut asetukset</h3>

<p>Ajastinasetuksista voit muuttaa <b>kytkentäajan</b> vastaamaan
käyttämäsi ajastinkellon kytkentäaikaa. Kytkentäaika on
vuoroaika-ajastimessa se aika, jonka ajastin antaa sähköä kerrallaan.
Oletuksena sovelluksen käyttämä kytkentäaika on 2 tuntia. Sovelluksen on
tiedettävä tämä aika, jotta se voi laskea ajastimeen asetettavan
lämmitysajan päättimyshetken oikein. Kytkentäajaksi tulee valita
rajoittamaton, mikäli ajastimen päälle- ja poiskytkentäaika voidaan
valita vapaasti toisistaan riippumatta ja ilman aikarajoitusta. </p>

<p>Sovelluksen asetuksista voit muuttaa myös autosi moottorilämmittimen
tyypin: oletuksena valittu <b>säteilylämmitin</b> suosittelee pitempiä
lämmitysaikoja kuin vaihtoehtoinen <b>lohkolämmitin</b>. </p>

<h2>Hyvä tietää</h2>

<p>Helpoin tapa valita lähtöaika on siirtää kellon sisällä oleva sininen
osoitin haluamasi ajan kohdalle. Voit valita lähtöajan myös
napauttamalla lähtöajan näyttöä kellon keskellä ja valitsemalla
lähtöajan avautuvassa ikkunassa.</p>

<p>Jos olet lähdössä heti, napauttamalla Lämmitys alkaa -näyttöä
lähtöajaksi päivittyy aikaisin mahdollinen lähtöaika, mikäli lämmitys
alkaa heti.</p>

<p>Napauttamalla lämpötilanäyttöä puhelimesi selaimeen aukeaa
sääpalvelun paikkakuntakohtainen sääennuste.</p>

<h2>Tärkeää tietoa tämän sovelluksen käyttämisestä</h2>

<p>Muista aina noudattaa autosi ja lämmittimen valmistajan ohjeita
esilämmityksestä! Tämä sovellus antaa ainoastaan ehdotuksia
esilämmittimen käytölle sääennusteen perusteella. Solipaste Oy ei ota
mitään vastuuta mistään tämän sovelluksen näyttämän tiedon käytöstä.</p>

<p><a href="http://www.solipaste.com/carweather/android/license.html">
Loppukäyttäjän lisenssi</a>.</p>

<p>Copyright Solipaste Oy 2015. Kaikki oikeudet pidätetään.</p>

<p>Android on Google Inc.:n rekisteröimä tavaramerkki. Muut tuotemerkit
voivat olla omistajiensa tavaramerkkejä.</p>

<p>Sovelluksen antaman suositukset esilämmitysajoista pohjautuvat <a
href="http://www.motiva.fi/en/">Motiva Oy</a>:n julkaisemaan tietoon.
</p>

<p>Arvostele Car Weather <a
href="market://details?id=com.solipaste.carweather.app">Google
Play:ssä</a> jos pidät siitä! </p>
