<h1>Car Weather for Android&trade;</h1>

<h2>Important information on using this application</h2>

<p>Make sure to always follow the instructions provided by the
manufacturer of your car and pre-heater equipment! This application
provides only suggestions on using car heater in an optimal way based on
local weather forecast. Solipaste Oy takes no responsibility of using
any information provided by this application.</p>

<p><a
href="http://www.solipaste.com/carweather/android/license.html">End-user
license agreement</a>.</p>

<p>Copyright Solipaste Oy 2015. All rights reserved</p>

<p>Android is a trademark of Google Inc. All other trademarks are
the property of their respective owners.</p>

<p>Car pre-heating duration suggestions are based on information
published by <a href="http://www.motiva.fi/en/">Motiva Ltd</a>.
</p>

<h2>Contact information</h2>

<p>Solipaste Oy<br /> Lentokonetehtaankatu 4 A 21<br /> 33900
Tampere<br /> Finland<br /> <a href="http://www.solipaste.com">www.solipaste.com</a>
</p>

<p>In case of any enqueries of this application please contact us at
<a href="mailto:carweather@solipaste.com">carweather@solipaste.com</a>
</p>

<h2>Licenses of used external products</h2>

<p>Car Weather incorporates the following third party software used
under the following licenses.</p>

<h3>Geonames</h3>

<p>This work is licensed under a <a
href="http://creativecommons.org/licenses/by/3.0/">Creative Commons
Attribution 3.0 License</a></p>

<h3>opencsv</h3>

<p><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache
2.0 license</a></p>

<h3>yr.no</h3>

<p>Weather forecast from <a href="http://yr.no">yr.no</a>, delivered
by the Norwegian Meteorological Institute and the NRK.
</p>

<h3>Google Analytics</h3>

<p><a href="http://www.google.com/analytics/terms/gb.html">
GOOGLE ANALYTICS TERMS OF SERVICE</a></p>

<h3>CommonsWare Android Components: WakefulIntentService</h3>

<p><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache
2.0 license</a></p>

<h3>Androidicons: cloudy icon</h3>

<p><a href="http://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0
    International CC BY-SA 4.0</a></p>