<h2>Using Car Weather</h2>

<h3>Getting started</h3>

<p>Using Car Weather is easy. Move the blue departure time handle so
that it points to the time you are planning on leaving home next time.
After that Car Weather shows you not only the forecasted outdoor
temperature and the most optimal pre-heating duration for your car but
also when preheating should be started in order to warm it up for your
next departure.</p>

<p>If you are using timer switch to control your car pre-heating,
then you can set it up according to start and stop times shown on the
application. Also the time from now until the time when heating should
end can be easily read as hours and minutes from the application.</p>

<h3>Notifications</h3>

<p>Enabling notifications on the application settings screen allows
Car Weather to remind you about car pre-heating and departure every day.</p>

<p>In case of <b>pre-heating need notification</b>, you can freely
select the time when reminders are shown. This notification is shown
only when pre-heating will be needed based on temperature forecast at
the time of next departure. When using car regularly, you can set this
notification to occur when you are typically driving home at evening.
Use of pre-heating notifications ensures that you will never forget to
pre-heat your car for the next morning.
</p>

<p><b>Departure notification</b> helps you remember to leave when
your car's pre-heating is ready. You can choose how many minutes before
your departure time this notification is shown. This notification is
shown only when there was need to pre-heat your car based on the
temperature at departure time.</p>

<p>By default, both types of notifications are shown only when your
next departure will occur on a weekday. You can, however, in application
settings enable both notifications to be shown also for departures on
weekends.</p>

<h3>Other settings</h3>

<p>In the application settings you can also adjust <b>power-on
duration</b> to match with the one used by your timer switch. Power-on
duration controls how long time the timer providers energy to the car
heater at time. The default power-on duration is 2 hours. Application
must know this duration in order to correctly calculate the end time of
heating period. If your timer does not have a fixed power-on duration,
then you can set this setting to <i>unlimited</i>.
</p>

<p>The last setting in application settings it the car engine
heather type. <b>Radiator</b> heater is the default type and results
longer heating periods than the more efficient <b>block</b> heater.
</p>

<h3>Useful tips</h3>

<p>The easiest way to set the departure time is just to drag the
blue departure time pointer to the wanted position on the 24 hour clock.
However, you can also set the departure time by tapping the currently
shown departure time in the middle of the clock and set the time on the
dialog shown.</p>

<p>If you are about to depart soon, just tap <b>Start time</b>
display to automatically set the departure to the earliest possible
time, assuming that you will start your car pre-heating immediately.
</p>

<p>Tapping temperature indicator or button in the lower right corner opens local weather forecast in
your device browser.</p>

<h2>Important information on using this application</h2>

<p>Make sure to always follow the instructions provided by the
manufacturer of your car and pre-heater equipment! This application
provides only suggestions on using car pre-heater in an optimal way
based on local weather forecast. Solipaste Oy takes no responsibility of
using any information provided by this application.</p>

<p><a
href="http://www.solipaste.com/carweather/android/license.html">End-user
license agreement</a>.</p>

<p>Copyright Solipaste Oy 2015. All rights reserved</p>

<p>Android is a trademark of Google Inc. All other trademarks are
the property of their respective owners.</p>

<p>Car pre-heating duration suggestions are based on the information
published by <a href="http://www.motiva.fi/en/">Motiva Ltd</a>.
</p>

<p>Please rate Car Weather on <a
href="market://details?id=com.solipaste.carweather.app">Google Play</a>
if you find it useful!
</p>
